
.cardbody
{
    /* margin-top: 5%; */
    margin:auto;
}

#cardbody
{
    display: flex;
    justify-content: center;
}

.rightonly
{
    padding-left: 100px;
}

.details
{
    padding-top:20px
}

#appStatus
{
    padding-bottom: 30px;
}

.buttonsConfirm {padding-top:15px}

